body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  background: #ccc;
}

#ToDoList {
  width: 400px;
  background: white;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 5px;
}

#ToDoList div input {
  padding: 4px 15px 4px 0;;
}

#ToDoList div button {
  display: inline-block;
  background-color: #fc999b;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

em {
  font-style: italic;
}

.completed {
  color: #999;
  text-decoration: line-through;
}

ol li {
  padding: 5px;
  color: #000;
}

li:nth-child(even) {
  background: #f4ecec;
}

ol {
  padding-left: 20px;
}

input[type=checkbox] {
  margin: 5px 5px 2px 0;
}

.input-text {
  width: 70%;
}
